<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
<body>
    <div class="container">
        <div class="row mt-2" float="left">
            <form method="GET" action="/" style="margin:0">
                <button type="submit" class="btn btn-primary" style="font-size: 1.5em;">⮌메인 메뉴</button>
            </form>
        </div>
    </div>
    <div class = "container">
        <div class="row mt-5">
            <h3><b>환자 선택</b></h3>
        </div>
        </br>
        <form method="POST" action="/data">
            <select name=user_index style="width:200px;height:40px;">
                {% for user_name in user_name_list %}
                    {% set string_list = user_name.split(':') %}
                    {% if (string_list[0] == selected_index) %}
                        <option value= "{{string_list[0]}}" SELECTED>{{user_name}}</option>"
                    {% else %}
                        <option value= "{{string_list[0]}}">{{user_name}}</option>"
                    {% endif %}
                {% endfor %}
            </select>
            &nbsp;
            &nbsp;
            <button type="submit" class="btn btn-primary" style="font-size: 1em;" style="padding: 50px 30px 50px 20px">불러오기</button>
        </form>
        <div class="row mt-5">
            <h3><b>환자 정보</b></h3>
        </div>
            <h6>ID: {{user_info[0]}}</h6>
            <h6>이름: {{user_info[1]}}</h6>
            <h6>성별: {{user_info[2]}}</h6>
            <h6>발 사이즈: {{user_info[3]}}</h6>
            <h6>GMFCS 레벨: {{user_info[4]}}</h6>
            <h6>나이: {{user_info[5]}}</h6>
        <div class="row mt-5">
            <h3><b>훈련 기록</b></h3>
            &nbsp;
            &nbsp;
            <form method="POST" action="/data/download" style="margin:0">
                <input type="hidden" name="user_index" value={{selected_index}}>
                <button type="submit" class="btn btn-primary" style="font-size: 1em;">Export .csv</button>
            </form>
        </div>
        </br>
        <table style="width:100%;" border="1" solid="#444444">
            <tr align="middle">
                <th>날짜</th>
                <th>콘텐츠(종)</th>
                <th>거리(m)</th>
                <th>난이도</th>
                <th>수행시간(초)</th>
                <th>성공률(양발, %)</th>
                <th>성공률(좌, %)</th>
                <th>성공률(우, %)</th>
                <th>기타 정보1</th>
                <th>기타 정보2</th>
                <th>중간저장여부</th>
                <th>보폭(mm)</th>
                <th>보행너비(mm)</th>
            </tr>
            {% for row in result_list %}
            <tr align="right">
                {% for data in row %}
                {% if loop.index <= 13 %} {# 진자는 인덱스가 1부터 시작한다! #}
                    <td>{{ data }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

         </br>               <br>                <br>                <br>

        <h2> 기타 정보에 대한 상세 설명</h2>
        <table
                border="2"
                width="70%"
                height="120"
                cellspacing="2">
            <thead>
            <tr align="center" bgcolor="white">
                <td></td>
                <th>콘텐츠#1</th>
                <th>콘텐츠#2</th>
                <th>콘텐츠#3</th>
            </tr>
            </thead>

            <tbody>
            <tr align="left" bgcolor="white">
                <th>기타 정보1</th>
                <td>빈 값(0)</td>
                <td>■난이도 상 : 30초 <br> ■난이도 하 : 40초 </td>
                <td>운석 충돌율을 뜻함 </td>
            </tr>
            <tr align="left" bgcolor="white">
                <th>기타 정보2</th>
                <td>빈 값(0)</td>
                <td>■난이도 상 : 포탈 위치가 5cm 쿠키로부터 떨어짐 <br> ■난이도 하 : 포탈 위치 변함 X </td>
                <td>선물 획득율을 뜻함 </td>
            </tr>
            </tbody>
        </table>

    </div>
</body>
</html>